.idea/
node_modules/@nodelib/
node_modules/@types/events/
node_modules/@types/glob/
node_modules/@types/minimatch/
node_modules/@types/node/
node_modules/aggregate-error/
node_modules/array-union/
node_modules/clean-stack/
node_modules/del/
node_modules/dir-glob/
node_modules/fast-glob/
node_modules/fastq/
node_modules/globby/
node_modules/ignore/
node_modules/is-path-cwd/
node_modules/is-path-inside/
node_modules/merge2/
node_modules/p-map/
node_modules/picomatch/
node_modules/reusify/
node_modules/run-parallel/
node_modules/slash/
