$font-head:	'Lato', sans-serif;
$font-body: 'Merriweather Sans', sans-serif;
$logo: 'Josefin Sans', sans-serif;

$h1-font-size: 4.50em;
$h2-font-size: 2.2em;
$h3-font-size: 1.2em;
$p-font-size: 1.50em;


$darkBlue: #11132F;
$lightBlue: #263D4E;
$darkGreen: #4A6B4E;
$lightGreen: #918E45;
$orange: #D9983E;
$border: #E7E7E7;
